In [2]:
import pandas as pd

In [10]:
i=pd.read_csv('~/git/BD/temp/imp_fert_quanti.csv')

In [11]:
i['date']=pd.to_datetime(i.CO_ANO.astype(str)+'/'+i.CO_MES.astype(str)+'/1')

In [12]:
date_pred=i.date.max()

In [13]:
comp_max=10

In [17]:
data_inicio=pd.to_datetime(str(date_pred.year-comp_max)+'/'+str(date_pred.month)+'/1')

In [18]:
i[i.date>=data_inicio]

,CO_ANO,CO_MES,nick,SG_UF_NCM,CO_PAIS,CO_URF,KG_LIQUIDO,date
19917,2014,4,MAP_k,BA,160,517600,336000.0,2014-04-01
19918,2014,4,MAP_k,BA,160,917800,336000.0,2014-04-01
19919,2014,4,MAP_k,BA,249,517602,4976018.0,2014-04-01
19920,2014,4,MAP_k,GO,249,917800,1525321.0,2014-04-01
19921,2014,4,MAP_k,GO,676,817800,6600000.0,2014-04-01
...,...,...,...,...,...,...,...,...
39714,2024,4,UREIA_k,ZN,999,147600,8485000.0,2024-04-01
39715,2024,4,UREIA_k,ZN,999,210200,19751993.0,2024-04-01
39716,2024,4,UREIA_k,ZN,999,517800,3000000.0,2024-04-01
39717,2024,4,UREIA_k,ZN,999,727600,1500000.0,2024-04-01
39718,2024,4,UREIA_k,ZN,999,927700,24599966.0,2024-04-01

In [15]:
pd.to_datetime(str(date_pred.year-comp_min)+'/'+str(date_pred.month)+'/1') >= i.date.min()

True

In [9]:
max=pd.to_datetime(str(i.date.max().year-10)+'/'+str(i.date.max().month)+'/1')
max

Timestamp('2014-04-01 00:00:00')

In [ ]:
min=i.date.min()

In [13]:
d=max-min

In [25]:
round(d.days/365)

27