In [23]:
import warnings 
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
from sklearn import metrics

test_pred=pd.read_csv('test_pred.csv')
test_pred

,oc_pred,date,oc,KG_LIQUIDO_pred,CO_ANO,KG_LIQUIDO,CO_MES,nick,SG_UF_NCM,CO_PAIS,CO_URF,while_
0,1.0,1711929600000000000,1.0,NaN,NaN,NaN,4,MOP_k,PR,676,917800,82
1,1.0,1711929600000000000,1.0,NaN,NaN,NaN,4,MOP_k,PR,999,917800,82
2,0.0,1711929600000000000,0.0,NaN,NaN,NaN,4,UREIA_k,PR,676,817800,82
3,1.0,1711929600000000000,1.0,NaN,NaN,NaN,4,UREIA_k,PR,676,917800,82
4,1.0,1711929600000000000,1.0,NaN,NaN,NaN,4,UREIA_k,PR,999,917800,82
...,...,...,...,...,...,...,...,...,...,...,...,...
2161,NaN,870393600000000000,NaN,884501.158396,1997.0,0.0,8,UREIA_k,PR,676,817800,82
2162,NaN,870393600000000000,NaN,884501.158396,1997.0,0.0,8,UREIA_k,PR,676,917800,82
2163,NaN,870393600000000000,NaN,884501.158396,1997.0,0.0,8,UREIA_k,PR,999,917800,82
2164,NaN,870393600000000000,NaN,884501.158396,1997.0,0.0,8,UREIA_k,RS,676,917800,82
2165,NaN,870393600000000000,NaN,884501.158396,1997.0,0.0,8,UREIA_k,RS,999,917800,82

In [6]:
test_pred.date=test_pred.date.astype('datetime64[ns]')

In [7]:
test_pred.CO_ANO=test_pred.date.dt.year

In [10]:
test_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2166 entries, 0 to 2165
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   oc_pred          1083 non-null   float64
 1   date             2166 non-null   datetime64[ns]
 2   oc               1083 non-null   float64
 3   KG_LIQUIDO_pred  1083 non-null   float64
 4   CO_ANO           2166 non-null   int32
 5   KG_LIQUIDO       1083 non-null   float64
 6   CO_MES           2166 non-null   int64
 7   nick             2166 non-null   object
 8   SG_UF_NCM        2166 non-null   object
 9   CO_PAIS          2166 non-null   int64
 10  CO_URF           2166 non-null   int64
dtypes: datetime64[ns](1), float64(4), int32(1), int64(3), object(2)
memory usage: 177.8+ KB

In [19]:
metrics.accuracy_score(test_pred.oc,test_pred.oc_pred)

ValueError: Input y_true contains NaN.

In [20]:
test_pred

,CO_ANO,CO_MES,nick,SG_UF_NCM,CO_PAIS,CO_URF,KG_LIQUIDO,KG_LIQUIDO_pred,oc,oc_pred
0,2024,4,MOP_k,PR,676,917800,NaN,NaN,1.0,1.0
1,2024,4,MOP_k,PR,999,917800,NaN,NaN,1.0,1.0
2,2024,4,UREIA_k,PR,676,817800,NaN,NaN,0.0,0.0
3,2024,4,UREIA_k,PR,676,917800,NaN,NaN,1.0,1.0
4,2024,4,UREIA_k,PR,999,917800,NaN,NaN,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...
2161,1997,8,UREIA_k,PR,676,817800,0.0,0.0,NaN,NaN
2162,1997,8,UREIA_k,PR,676,917800,0.0,0.0,NaN,NaN
2163,1997,8,UREIA_k,PR,999,917800,0.0,0.0,NaN,NaN
2164,1997,8,UREIA_k,RS,676,917800,0.0,0.0,NaN,NaN
2165,1997,8,UREIA_k,RS,999,917800,0.0,0.0,NaN,NaN

In [18]:
test_pred_g=test_pred.groupby(by=['CO_ANO','CO_MES','nick','SG_UF_NCM'])[['KG_LIQUIDO','KG_LIQUIDO_pred','oc','oc_pred']].sum().reset_index()
test_pred_g

,CO_ANO,CO_MES,nick,SG_UF_NCM,KG_LIQUIDO,KG_LIQUIDO_pred,oc,oc_pred
0,1997,8,MOP_k,PR,3045000.0,1.0,1.0,1.0
1,1997,8,UREIA_k,PR,0.0,0.0,0.0,0.0
2,1997,8,UREIA_k,RS,0.0,0.0,0.0,0.0
3,1997,9,MOP_k,PR,0.0,0.0,0.0,0.0
4,1997,9,UREIA_k,PR,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
503,2024,3,UREIA_k,PR,8499325.0,2.0,2.0,2.0
504,2024,3,UREIA_k,RS,4000000.0,1.0,1.0,1.0
505,2024,4,MOP_k,PR,69406851.0,2.0,2.0,2.0
506,2024,4,UREIA_k,PR,29363957.0,2.0,2.0,2.0
507,2024,4,UREIA_k,RS,800000.0,1.0,1.0,1.0

,CO_ANO,CO_MES,nick,SG_UF_NCM,CO_PAIS,CO_URF,KG_LIQUIDO,KG_LIQUIDO_pred,oc,oc_pred
0,2024,4,MOP_k,PR,676,917800,NaN,NaN,1.0,1.0
1,2024,4,MOP_k,PR,999,917800,NaN,NaN,1.0,1.0
2,2024,4,UREIA_k,PR,676,817800,NaN,NaN,0.0,0.0
3,2024,4,UREIA_k,PR,676,917800,NaN,NaN,1.0,1.0
4,2024,4,UREIA_k,PR,999,917800,NaN,NaN,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...
2161,1997,8,UREIA_k,PR,676,817800,0.0,0.0,NaN,NaN
2162,1997,8,UREIA_k,PR,676,917800,0.0,0.0,NaN,NaN
2163,1997,8,UREIA_k,PR,999,917800,0.0,0.0,NaN,NaN
2164,1997,8,UREIA_k,RS,676,917800,0.0,0.0,NaN,NaN
2165,1997,8,UREIA_k,RS,999,917800,0.0,0.0,NaN,NaN